html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
   color:#4a4a4a;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
 }
 /*h2 {
   font-family: "PT Serif", serif;
 }*/
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-family: "PT Serif", serif;
   font-size:16px;
   line-height: 19px;
   font-weight: 100;

 }

 /* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;


  }
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .one-half1{
    width:96%;
    float:left;
    position:absolute;
    min-height: 1px;
    margin:0 2% 20px;

  }

  .one-half{
    width:96%;
    float:right;
    position:absolute;
    min-height: 1px;
    margin:0 2% 20px;
  }

  .one-third, .one-fourth {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
  }

  .one-fourth1 {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    margin-top: 20px;
  }

  /* Media queries */

  @media (min-width: 320px) {
     .container {
       width: 320px;
     }
   }

  @media (min-width: 768px) {
     .container {
       width: 750px;

     }
   }
   @media (min-width: 992px) {
     .container {
       width: 970px;

     }
     .one-half {
       width:46%;
     }
     .one-third {
       width:29.33333%;
            }
     .one-fourth {
       width:21%;
     }
     .one-fourth1 {
       width:21%;
     }
   }
   @media (min-width: 1200px) {
     .container {
       width: 1170px;
           }
   }

   /* HEADER */
 header {
   color:#FFFFFF;
   background: #00BCD4;
   }
   header nav {
      padding:1em 0;
    }
    header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav a {
color:#FFFFFF;
text-decoration: none;
 display:inline;
 margin:0;
 text-align: center;
 float:inherit;
 text-align:inherit;
}



header nav h3{

  margin: 10px 0 0 0;
}

 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;

 }
 header nav ul > li.btn-outline:hover > a {
   color:#4a4a4a;
 }
 header .hero {
   text-align: center;
   display:block;
   position: relative;

 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;

 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }

 header .hero img {
   display: block;
   margin:3em auto 0;
 }

 header .hero a.btn{
       margin: 0 auto;
       margin-bottom: -20px;
       display: block;
       width: 200px;

 }

 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#4A4A4A;
   font-weight: 500;
   text-decoration: none;
   padding:10px 30px;
   background: #FFC107;
   border: 2px solid #FFC107;
   box-shadow: 0px 2px 0px 0px #4A4A4A;


 }

 /* BENEFITS */


 .benefits {
   text-align: center;
   display:block;
   position:relative;
   padding:4em 0 0 0;
 }

 .benefits div h2, .benefits p {
  color:#4a4a4a;

 }

 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
   display: inline-block;
 }
 .benefits ul li {
   list-style-type: none;
/*   display: inline;
   float: left;*/
 }


 .benefits h2 {
   color:#018293;

 }


 .benefits img {
   opacity: 0.8;
   vertical-align: middle;

  /*  margin:0;
align-items:baseline;
     display: inline;
     float:left;
     opacity: 0.8;
     shadow: 0 2px 3px 0 rgba(0,0,0,0.50);
     margin-right: 10px;
     margin-bottom: 10px;
     vertical-align: middle;
  /*    display: inline-block;*/

  }
  .benefits ul li h2, .benefits ul li p{
    display: inline-block;
       text-align: left;

      /* vertical-align: top;*/
  }

 /* PRICING */
  .pricing {
  /*   background: #34495E url("../images/background.png") top center no-repeat;
    background: url("../images/background.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 94%);  */
    background: #00BCD4;
    background-size:cover;
    text-align: center;
    padding:4em 0;
  }

  .pricing h2, .pricing p {
   color:#FFFFFF;
 }

 .pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }


 .box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
   box-shadow: 0px 17px 29px 0px rgba(0,0,0,0.30);
}

   .box h3 {
     font-family: "Montserrat", Helvetica, Arial, sans-serif;
     font-weight: 600;
     text-transform: uppercase;
     background: #018293;
     color:#ffffff;
     box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
     left:0;
     right:0;
     top:0;
     text-align: center;
     margin:0 -15px 40px;
     padding:10px 0;
   }
   .box h4 {
      font-size:50px;
      font-weight: normal;
      margin:40px 0 10px;
      color:#018293;
    }

    .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#4a4a4a;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
   text-align:center;
 }

 .box .btn {
 position:absolute;
   bottom:20px;
   left:20px;
   right:20px;

 }
 .small {
   font-size: 12px;
   color: #ffffff;
   line-height: 15px;
   font-style:italic;
 }

 /* TESTIMONIALS */
  .testimonials {
    padding:4em 0;
    text-align: center;
  }
  .testimonials h2 {
    color:#4a4a4a;
  }
  .testimonials ul li {
    list-style-type: none;

  }



  .testimonials blockquote {
    color:#FFFFFF;
    text-align: left;
    font-style: italic;
    background:#018293;
    border: 5px solid #FFC215;
    position: relative;
    padding:30px;
    width:auto;
    margin:0;
  }
  .testimonials blockquote:after {
    top: 100%;
    left: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events:none;
    border-top-color: #FFC215;

    border-width: 20px;
    margin-left: -20px;
  }
  .testimonials img {
     height: 65px;
     width: 65px;
     border-radius:50%;
     float: left;
     display: inline-block;
     margin:20px 10px 0 0;



   }

  .testimonials p.name {
     float:inherit;
     display: inline-block;
     text-align: left;
     font-size:13px;
     margin-top: 10px;
     font-weight: 400;

    /* vertical-align: top;*/

   }



.addctc{
text-align: center;
 margin-top: -40px;
 margin-bottom: 10px;
 display:block;
 position:relative;
 padding:2em 0;
}

.line{
  width: 2200px;
  height:1px;
  opacity: .2;
  background: #4a4a4a;
}

.addctc div h2, .addctc p {
 color:#4a4a4a;

}
.addctc p {
margin-bottom: 40px;

}


   /* FOOTER */
    footer {
      background-color: #018293;
      color: #FFFFFF;
    /*  height: 150px;*/
      position: relative;
      overflow: hidden;
      z-index: 0;
    }
    footer p, footer nav ul {
      font-size:14px;
      font-weight:100;
      text-align: center;
      margin: 10px auto 0;
    }
    footer nav ul {

      margin-left: -30px;

    }

    footer nav ul li {
      list-style-type:none;
      display: inline;


    }
    footer nav ul li a {
      color:#ffffff;
      text-decoration: none;

    }
    footer .right-footer-block {
      background-color: transparent;
    }
    footer .logo{
      padding: 2.35em 0;
      margin: 0 auto;
      display: block;
    }
    @media (min-width: 992px){
       footer{
         background-color: #018293;
         height: 100px;
       }
       footer p, footer nav ul{
         padding: 2em 0;
         text-align: left;
       }
       footer .right-footer-block {
         background-color: #018293;
       }
       footer .logo{
         padding: 1em 0 1em 1.5em;
       }
     }

     /* DASHBOARD */
      .dashboard {
        background:#D1D1D1;
      }

      .left-nav {
         height: 100%;
         width:280px;
         color:#FFFFFF;
         background: #00BCD4;
         float:left;
         position:absolute;
         -webkit-transition: all 0.3s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
         transform: translate(-280px,0);
           -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
           -o-transform: translate(-280px,0); /** Opera **/
           -moz-transform: translate(-280px,0); /** Firefox **/
       }



       .left-nav.open {
          display:block;
          width:280px;
          background: #00BCD4;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          transform: translate(0,0);
            -webkit-transform: translate(0,0); /** Chrome & Safari **/
            -o-transform: translate(0,0); /** Opera **/
            -moz-transform: translate(0,0); /** Firefox **/
            z-index: 100;
        }
        .hamburger {
          position:absolute;
          z-index: 1000;
          background:#00BCD4;
          color:#FFF;
          text-decoration: none;
          font-size: 22px;
          padding: 10px 15px;
          border-radius: 4px;
          left: 5px;
          top: 15px;
        }
        @media (min-width:992px) {
           .left-nav {
             height: 100vh;
             width:14.66666667%;
             color:#FFFFFF;
             background: #00BCD4;
             float:left;
             position: fixed;
             display:block;
             transform: translate(0,0);
             -webkit-transform: translate(0,0); /** Chrome & Safari **/
             -o-transform: translate(0,0); /** Opera **/
             -moz-transform: translate(0,0); /** Firefox **/
           }
           .left-nav.open {
             width:14.66666667%;
             transform: translate(0,0);
             -webkit-transform: translate(0,0); /** Chrome & Safari **/
             -o-transform: translate(0,0); /** Opera **/
             -moz-transform: translate(0,0); /** Firefox **/
           }
           .hamburger {
             display:none;
           }
         }





       .left-nav .site-logo-small {
          padding:20px 0;
          background:#018293;
          display:block;
          text-align: center;
        }
        .left-nav .items {
           padding:0 6%;
         }
         .left-nav .items p {
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px;
            color: #ffffff;
            line-height: 15px;
          }

          .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;

 }

 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }

 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }

 /* LEFT NAVBAR SETTINGS */
  .left-nav .settings {
    position:absolute;
    background:#018293;
    width:100%;
    bottom:0;
    left:0;
    right:0;
    padding:10px 0;
  }
  .left-nav .settings img {
    height:35px;
    width:35px;
    border-radius: 50%;
    margin-left:10px;
    display: inline-block;
  }
  .left-nav .settings p {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin:0 0 0 10px;
  }
  .left-nav .settings a {
    color:#FFFFFF;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right:10px;
    margin-top:8px;
  }

  /* CONTENT */
   .content {
     padding:6em 1% 1.5em;
     float:right;
     width:98%;
     position: relative;
   }
   .content .header {
     margin:0 1% 20px;
   }

   .content .header h1 {
   font-family: "Montserrat-Light", Helvetica, Arial, sans-serif;
   font-weight: 100;
  /* letter-spacing: -0.75px;*/
   margin:0 0 30px;
   font-size: 36px;
   color: #018293;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
    width:96%;
    margin:0 2% 25px;
    float:left;
    display:block;
  }
  .item-box {
    display:block;
    height:230px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
    position: relative;
    overflow: hidden;
    padding:20px;
  }


  /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }

 /* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }

 /* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }


 .item-box > img {
    position:absolute;
    height:100%;
    width:auto;
    top:0;
    left:0;
    right:0;
  }
  .item-box h2 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    margin:0;
  }
  .item-box h2 a {
    color: #018293;
    text-decoration: none;
  }
  .item-box h2 img {
    width:16px;
    height:16px;
    position:relative;
    top:2px;
    margin-right:5px;
  }
  .item-box p {
    font-size: 14px;
    color: #4a4a4a;
    line-height: 18px;
    margin:5px 0 0;
  }


.left-nav li a:hover{
  background-color:#FFC107;
}

 .left-nav li a:active{
  background-color: #018293;
  font-size: 18px;

}
